# Ignore node modules
node_modules/

# Ignore log files
*.log

# Ignore environment variables
.env

# testing
/coverage

# production
/build

# misc
.DS_Store
.angular/cache/

# Visual Studio Code
.vscode/*